/* src/styles/SignUp.css */
.signup-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 5px;
  }
  
  .signup-form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  